html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}



body {
  background-color: #333333;
  padding-top: 60px;
  font-family: Arial, sans-serif;
  color: #fff;
}

a {
  color: #fff;
}

section {
  background-color: #333333;
}

header {
  background-color: #333;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  color: white;
  text-align: center;
}

.imgage {
  width: 200px;
  height: 200px;
}

.info {
  background-color: #333333;
}

.info_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #555;
  padding: 8px;
}

nav a {
  text-decoration: none;
  color: white;
}

main {
  margin-top: 20px;
  padding: 20px;
}

section {
  background-color: #333333;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(250, 248, 248, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}
.summary_desc {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
}
pre {
  background-color: #222222;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}
code a {
  background-color: #333;
  color: hsl(212, 97%, 43%);
}

section:first-of-type img {
  max-width: 100%;
  border-radius: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

#experience ul li,
#education ul li {
  padding-left: 20px;
  position: relative;
}

#experience ul li::before,
#education ul li::before {
  content: "\2022";
  position: absolute;
  left: 0;
  color: #555;
}
