@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
ol,
li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f7fa;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.main_name {
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: #49505a;
}

.header_img {
  width: 24px;
  height: 24px;
  opacity: 0.7;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/*********************** Hero section  ****************************/

.hero_wrapper {
  display: flex;
  justify-content: center;
  background-color: #4a89dc;
  color: #fff;
  padding: 48px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.hero_title {
  font-weight: 700;
  font-size: 34px;
}
.job_title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.download_btn {
  width: 150px;
  height: 38px;
  border-radius: 50px;
  border: none;
  background-color: #fff;
  color: #757a83;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.download_btn:active {
  background-color: #fff;
  transform: scale(0.95);
}

.hire_btn {
  width: 100px;
  height: 38px;
  background-color: #37bc9b;
  border-radius: 50px;
  border: none;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hire_btn:active {
  background-color: #26744b;
  transform: scale(0.95);
}

.img_box {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  left: 150px;
  top: 60px;
}
.avatar {
  width: 200px;
  height: 200px;
}

/******************* Hero end  **********************/

/****************** About section  *****************/

.about {
  border-bottom: none;
}

.about_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10rem;
  padding-left: 20px;
  padding-right: 20px;

  padding-bottom: 2rem;
}

.sss {
  padding-top: 100px;
  padding-bottom: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
}

.about_me {
  color: #49505a;
  margin-left: 20px;
  margin-bottom: 1rem;
}

.about_desc {
  width: 100%;
  font-family: "Roboto";
  max-width: 500px;
  font-size: 16px;
  font-weight: 100;
  line-height: 2;
  opacity: 0.6;
}

.contact_list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.contact_list_item {
  display: flex;
  column-gap: 5rem;
}

.argument {
  width: 50px;
  opacity: 0.7;
}

.value {
  opacity: 0.7;
}

/******************** About section end   ******************/

/******************** Skills section start  ***************/

.skill{
  padding-bottom: 3rem;
}

.skill_title {
  color: #444b55;
  margin-bottom: 2rem;
  margin-left: 20px;
}

.skill_wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}

.skill_box{
  display: flex;
  align-items: center;
  column-gap: 15rem;
}

progress {
  width: 300px;
  height: 20px;
  appearance: none;
  border: none;
  border-radius: 10px;
  margin-bottom: 2rem;
}

progress::-webkit-progress-bar {
  background-color: gray;
  border-radius: 8px;
}

progress::-webkit-progress-value {
  background-color: #4a89dc;
  border-radius: 8px;
}

progress::-moz-progress-bar {
  background-color: #4a89dc;
  border-radius: 8px;
}




/***************  experience  section start */

.main-timeline {
  position: relative;
}

.main-timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #939597;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline {
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #939597;
  border: 5px solid #f5df4d;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  padding: 0px 40px 20px 0px;
  left: 0;
}

.right {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

.left::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -12px;
}


.exp_title{
  margin-left: 0.5rem;
}


/*************************  experience end  ******************************/



/************************  education ************************************/



.education_title{
  margin-left: 20px;
  margin-bottom: 3rem;
}
.education_wrapper{
 padding-left: 20rem;
  
}

.education_timeline {
  border-left: 2px solid #4a89dc;
  position: relative;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 3rem;
}

.event {
  margin-bottom: 20px;
}

.date {
  position: absolute;
  left: -85px;
  top: 0;
  background-color: #4a89dc;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
}

.content {
  margin-left: 20px;
}
